.App {
  text-align: center;

}

.form-style input{
  padding: 5px;
    margin: 10px;
}

.form-style button{
  padding: 5px;
   
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color:#FF9015;
  color: #6852fb;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  margin: auto;
  padding: 8px;
  z-index: 99;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;

}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  color: #FF9015;
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 10px;
  color: #3E3E48;
font-weight: lighter;
}

.card h3 {
  color: #FF9015;
  font-weight: bolder;
}

.author {
 color: #01d4cf; 
 font-weight: bolder;
 padding-bottom: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.card-layout{
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1,h2 {
  font-family: "goldplayregular", sans-serif;
  color: #6852fb;
}

